#transform{
    width: 100px;
    height: 100px;
    background: rgb(12, 174, 219);
    transition:all 2s;
    -webkit-transition:all 2s;
    -moz-transition:all 2s;

}
#transform:hover {
    width: 100px; 
    height: 100px;
    margin-left: 200px;
    border-radius: 40%;
    background: rgb(223, 10, 181);
}
#transform:hover {
    width: 100px; 
    height: 100px;
    margin-left: 200px;
    border-radius: 50%;
    background: rgb(248, 191, 7);
}